<!DOCTYPE html>
<html>
	<head>
		<title>wikicious.com{{url}}</title>
		<link rel="stylesheet" type="text/css" href="/static/main.css">
	</head>
	<body>
		<div class = "topbar">
		<div class="wikicious"> <a class = "barlink" href="/"> wikicious.com</a></div><div class="url">
		<form method="post"><input class="url" name="u"  value = "{{url}}"></form></div>
		<div class= "topbar1"><a class="barlink" href="/links">links</a> | <a class = "barlink" href="{{editlink}}">{{edit}}</a> | <a class = "barlink" href="{{hislink}}">{{history}}</a></div>
		<div class= "topbar2"> <a class = "barlink" href="{{firstlink}}"> {{first}} </a> | <a class="barlink" href="{{secondlink}}">{{second}}</a></div>
		<br><hr><br>
		{% block admin %}
		{% endblock %}
		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>